*{
  text-size-adjust: none;
  font-size: 14px;
  font-family: Roboto;
  line-height: 22px;
}
html{
box-sizing: border-box;
background-color:white;
}
	
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding:0;
  box-sizing: border-box;
  background-color: #7FAFF6;
  max-width: 1400px;
  margin:auto;
}
main{
	display: flex;
	flex-direction: column;
	gap:25px;
}
.promo{
	margin-top:15px;
	position: relative;
}
.promo > video {
	height: 52%;
	width: 100%;
	z-index:0;
  }
.promo__grid{
	height: 100%;
	width: inherit;
	align-items: center;
	top: 0;
	left:0;
	position: absolute;
	display:grid;
	grid-gap: 0;
	width: 100%;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2,1fr);
	background-color:#1fe0;
	max-height: inherit;
	z-index: 1;
}


.promo__frame1{
	display: flex;
    justify-content: center;
    align-items: center;
	grid-column: 1/ span 2;
	grid-row: 1;
	color:white;
	font-size: 6vw;
	height: 6vw;
}
	
.promo__frame2{
	display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1;
    grid-row: 2;
	background-image: url("../images/prod.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	height: 15vw;
}
.promo__frame3{
	display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2;
    grid-row: 2;
	height: 30vw;
}
.promo__frame3 li{
	color:white;
	font-size:5vw;
	line-height: 5vw;
}
.consist{
	display:grid;
	grid-gap:30px;
	grid-template-rows: repeat(3, 1fr);
	grid-template-columns: 1fr 2fr 1fr;
	background-color:#88B5BF;
	margin-top:15px;
	padding:30px;
	background-color: #e5e5f7;
	opacity: 1;
	background-image: radial-gradient(circle at center center, #f64fbf, #e5e5f7), repeating-radial-gradient(circle at center center, #f64fbf, #f64fbf, 10px, transparent 20px, transparent 10px);
	background-blend-mode: multiply;
	}
.consist__frame{
	display:grid;
	grid-template-columns: repeat(2,1fr);
	align-items: center;
	background: rgb(251,63,130);
	background: linear-gradient(90deg, rgba(251,63,130,1) 0%, rgba(250,84,227,1) 20%);
	
}
.consist__frame img{
	border-radius: 100%;
	max-width: 50%;
	max-height: 1fr;
	grid-column:1;
}
.consist__frame-ingridient{
	grid-column: 2;
	font-size: 1vw;

}
.consist__frame2{
	background-color:#0D89B0;
}
.consist__frame-main{	
	grid-column: 2;
	grid-row: 1/span 3;
	height: 60%;
	align-self: center;
	background-image: url("../images/prod.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.reviews{
	display: flex;
	align-items: center;
	width: 300px;
	height: 500px;
	
	text-align: center;
	overflow: hidden;
	margin: auto;

}
.slider {
	display: flex;
	
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	
	
	
	scroll-behavior: smooth;
	-webkit-overflow-scrolling: touch;
  }
  .slider::-webkit-scrollbar {
	width: 10px;
	height: 10px;
  }
  .slider::-webkit-scrollbar-thumb {
	background: black;
	border-radius: 10px;
  }
  .slider::-webkit-scrollbar-track {
	background: transparent;
  }
  .slider > div {
	scroll-snap-align: start;
	flex-shrink: 0;
	width: 300px;
	height: 300px;
	margin-right: 50px;
	border-radius: 10px;
	background: #eee;
	transform-origin: center center;
	transform: scale(1);
	transition: transform 0.5s;
	position: relative;
	
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 100px;
  }
  .review{
	display:flex;
	flex-direction: column;
	grid-template-rows:3;
  }

  .review > img{
	max-width: 100%;
	max-height: 250px;	
  }
  .review__name{

  }
  .review__comment{

	
  }
.promo-2{
	margin-top:15px;
	}
.promo-2__grid{
	height: 100%;
	width: 100%;
	top: 0;
	left:0;
	display:grid;
	grid-gap: 30px;
	width: 100%;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(3,1fr);	
	max-height: inherit;
	z-index: 1;
	background-color: #e5e5f7;
	background-image:  linear-gradient(135deg, #f745bd 25%, transparent 25%), linear-gradient(225deg, #f745bd 25%, transparent 25%), linear-gradient(45deg, #f745bd 25%, transparent 25%), linear-gradient(315deg, #f745bd 25%, #e5e5f7 25%);
	background-position:  10px 0, 10px 0, 0 0, 0 0;
	background-size: 10px 10px;
	background-repeat: repeat;
}
.promo-2__frame1{
	grid-column: 1;
	grid-row: 1/span 2;
	border-radius: 10%;
	background: linear-gradient(90deg, rgba(251,63,130,1) 0%, rgba(250,84,227,1) 20%);
}
.promo-2__frame1> img{
	height: 30vw;
}
.promo-2__frame2{
	display: flex;
	flex-direction: column;
	justify-content: center;
	grid-column: 2;
	grid-row: 1/span 2;
	text-align: center;
	
	border-radius: 10%;
	background: linear-gradient(90deg, rgba(251,63,130,1) 0%, rgba(250,84,227,1) 20%);

}
.promo-2__frame3{
	display: flex;	
	flex-direction: column;	
	justify-content: center;
	align-items: center;
	grid-column: 1/span 2;
	grid-row: 3;
	
	border-radius: 10%;	
	background: linear-gradient(90deg, rgba(251,63,130,1) 0%, rgba(250,84,227,1) 20%);

}
.order{
	display: grid;
	grid-template-columns: repeat(2,1fr);
	grid-template-rows: repeat(5, 10vw);
	gap: 20px;
	
}
.prod-name{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	grid-column: 1/span 2;
	grid-row: 1;
	border-radius: 10%;	
	background: linear-gradient(90deg, rgba(251,63,130,1) 0%, rgba(250,84,227,1) 20%);

}
.timer{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	grid-column: 1/span 2;
	grid-row: 2;
	border-radius: 10%;	
	background: linear-gradient(90deg, rgba(251,63,130,1) 0%, rgba(250,84,227,1) 20%);
}
.prod-img{ 
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	object-fit: cover;
	grid-column: 1;
	grid-row: 3/ 5	;
	border-radius: 10%;	
	background: linear-gradient(90deg, rgba(251,63,130,1) 0%, rgba(250,84,227,1) 20%);
}
.prod-img > img{
	width: 10vw;
	object-fit: cover;
}
.price{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	grid-column: 1;
	grid-row: 5;
	border-radius: 10%;	
	background: linear-gradient(90deg, rgba(251,63,130,1) 0%, rgba(250,84,227,1) 20%);
}
.price >p{
	margin: 0;
	animation-name: animation;	
	animation-duration: 3s;
	font-size: 3vw;
	line-height: 3vw;
}
.price >s{
	margin: 0;
	font-size: 3vw;	
	line-height: 3vw;
}
.input-form{
	display: flex;	
	flex-direction: column;
	align-items: center;
	justify-content: center;
	grid-column: 2;
	grid-row: 3/6;
	gap: 0;
	line-height: 1vw;
	border-radius: 10%;	
	background: linear-gradient(90deg, rgba(251,63,130,1) 0%, rgba(250,84,227,1) 20%);

}
.submit-order{
	background-color: aqua;
	border-style: solid;
	border-radius: 20px;
	border-color: red;
}
.order-button{	
	width: 20%;
	align-self: flex-end;
	text-align: center;
	background-color: aqua;
	border-style: solid;
	border-radius: 20px;
	border-color: red;

}
@keyframes animation {
	0%   {color:red }
  25%  {color:yellow }
  50%  {color:blue }
  75%  {color:green }
  100% {color:red }	
}